@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Inspiration';
        src: url('/public/fonts/Inspiration-Regular.ttf');
    }
    @font-face {
        font-family: 'Poppins Bold';
        src: url('/public/fonts/Poppins-Bold.ttf');
        
    }
    @font-face {
        font-family: 'Poppins Bold Italic';
        src: url('/public/fonts/Poppins-BoldItalic.ttf');
    }
    @font-face {
        font-family: 'Poppins Extra Light';
        src: url('/public/fonts/Poppins-ExtraLight.ttf');
    }
    @font-face {
        font-family: 'Poppins Extra Light Italic';
        src: url('/public/fonts/Poppins-ExtraLightItalic.ttf');
    }
    @font-face {
        font-family: 'Poppins Light';
        src: url('/public/fonts/Poppins-Light.ttf');
    }
    @font-face {
        font-family: 'Poppins Light Italic';
        src: url('/public/fonts/Poppins-LightItalic.ttf');
    }
    @font-face {
        font-family: 'Poppins Regular';
        src: url('/public/fonts/Poppins-Regular.ttf');
    }
    @font-face {
        font-family: 'Poppins SemiBold';
        src: url('/public/fonts/Poppins-SemiBold.ttf');
    }
    @font-face {
        font-family: 'Poppins SemiBold Italic';
        src: url('/public/fonts/Poppins-SemiBoldItalic.ttf');
    }
}