@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Inspiration';
        src: url('/public/fonts/Inspiration-Regular.ttf');
    }
    @font-face {
        font-family: 'Poppins Bold';
        src: url('/public/fonts/Poppins-Bold.ttf');
        
    }
    @font-face {
        font-family: 'Poppins Bold Italic';
        src: url('/public/fonts/Poppins-BoldItalic.ttf');
    }
    @font-face {
        font-family: 'Poppins Extra Light';
        src: url('/public/fonts/Poppins-ExtraLight.ttf');
    }
    @font-face {
        font-family: 'Poppins Extra Light Italic';
        src: url('/public/fonts/Poppins-ExtraLightItalic.ttf');
    }
    @font-face {
        font-family: 'Poppins Light';
        src: url('/public/fonts/Poppins-Light.ttf');
    }
    @font-face {
        font-family: 'Poppins Light Italic';
        src: url('/public/fonts/Poppins-LightItalic.ttf');
    }
    @font-face {
        font-family: 'Poppins Regular';
        src: url('/public/fonts/Poppins-Regular.ttf');
    }
    @font-face {
        font-family: 'Poppins SemiBold';
        src: url('/public/fonts/Poppins-SemiBold.ttf');
    }
    @font-face {
        font-family: 'Poppins SemiBold Italic';
        src: url('/public/fonts/Poppins-SemiBoldItalic.ttf');
    }
}

@layer components {
    .recipe-card-section {
        @apply rounded-lg shadow-xl shadow-gray-400 drop-shadow-xl border-gray-400;
    }
    .recipe-card-section-items-postion {
        @apply flex flex-col place-items-center justify-center
    }
    .perspective-1000 {
        perspective: 1000px;
      }
      
      .transform-style-preserve-3d {
        transform-style: preserve-3d;
      }
      
      .backface-hidden {
        backface-visibility: hidden;
      }
      .rotate-y-0 {
        transform: rotateY(0);
      }
      .rotate-y-180 {
        transform: rotateY(180deg);
      }
}